"This a webapp I built for my company last summer and I didnt really know what I was doing, can you keep the exact same functionality, improve the design, I want all of this done in the least code possible, feel free to rely on lesser files but I think that more files with less lines each are better than less files with very long code, all of this needs to be done without reducing functionality or affecting it unless ur improving it and make the entire webapp as safe as possible. the entire thing needs to look clean simple and professional for a recent college grad in cs so I can add it in my portofolio and have it easy to understand and read so i can explain in case asked about it in interviews. if you think its simpler to just create a new github repo, write a terminal command to create the necessary files and folders here "'/Users/alaelaaziri/Desktop/untitled folder'" than tell me what to paste in each one of them"


I gave you this prompt earlier and you stopped halfway through "automate_webapp/app/templates/base.html" I need you to write the rest of this file and all the empty files left "this is the file structure you created btw alaelaaziri@Alaes-MacBook-Pro-2864 AlaeAutomatesRevised % >....                                                             
touch app/templates/home.html
touch app/templates/invoice_processor.html
touch app/templates/statement_separator.html
touch app/templates/excel_macros.html
touch app/templates/cc_batch_demo.html
touch app/templates/results.html
# Create empty static files
touch app/static/css/style.css
touch app/static/js/main.js
echo "Project structure created successfully!"
echo "Now copy and paste the provided code into each file.""